* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Raleway', sans-serif;
    background-image: url(perro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed
}

.Contenedor {
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;
}


.caja-textos {
    flex-basis: 50%;
    padding-left: 40px;
    overflow: hidden;
    color: black;

}

.titulo {
    font-size: 70px;
    line-height: 1.5;

}

h4 {
    color: #fff;
    text-shadow: 2px 2px 4px #0f0f0f;
}


.cta {
    display: inline-block;
    width: 150px;
    padding: 15px 0;
    text-align: center;
    border-radius: 5px;
    background-color: #D9D9D9;
    text-decoration: none;
    color: #0f0f0f;

}

.boton :hover {
    background-color: #8fe2a4;

}

.boton {
    text-align: center;
    font-weight: 50px;

}


.Contenedor-imagen {
    flex-basis: 50%;
    position: relative;
    z-index: 1;
    text-align: center;
    overflow: hidden;
}



@keyframes ilustrationAnimate {
    0% {
        transform: sclae(1);
    }

    100% {
        transform: scale(1.04);
    }

}

@media screen and (max-width: 800px) {
    .Contenedor {
        flex-direction: column-reverse;
    }

    .wawe {
        width: 80%;
    }

    .caja-textos {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        justify-content: center;
        align-items: center;
        flex-basis: 40%;
        text-align: center;
    }

    .titulo {
        font-size: 40px;
    }


    .Contenedor-imagen {
        flex-basis: 60%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}

@media screen and (max-width: 500px) {
    .wawe {
        width: auto;
        height: 48%;
    }

    .caja-textos {
        flex-basis: 40%;
        justify-content: flex-start;
    }

    .titulo {
        font-size: 35px;
    }
}
