main{
    margin: 0 auto;
    padding: 30px;
}
.contenido{
    margin: 10px 20px;
}
.contenido h1{
    color: #5b64e4;
    margin-bottom: 10px;
}

/** Carrito de productos**/
.contenido-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.carrito-vacio,
.carrito-comprado{
    *display: none;
}
.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.carrito-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d4d4d4;
    color: #5b64e4;
    padding: 10px;
    padding-right: 20px;
    border-radius: 10px;

}
.carrito-producto img{
    width: 4rem;
    border-radius: 10px;
}
.carrito-producto small{
    font-size: 0.8rem;
}
.carrito-producto-eliminar{
    background-color:#d40303;
    color: white;
    width: 60px;
    height: 20px;
    border: none;
    border-radius: 5px;
}
.carrito-acciones{
    display: flex;
    justify-content: space-between;
}
.carrito-acciones-vaciar{
    background-color: #d4d4d4;
    width: 100px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    color: #5b64e4;
    text-transform: uppercase;

}
.carrito-acciones-drch{
    display: flex;
    align-items: center;
}
.carrito-acciones-total{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d4d4d4;
    width: 150px;
    height: 30px;
    border: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #5b64e4;
    text-transform: uppercase;
    gap: 1rem;
}
.carrito-acciones-comprar{
    background-color: #5b64e4;
    width: 150px;
    height: 30px;
    border: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #d4d4d4;
    text-transform: uppercase;
}
/**
.disabled{
    display: none;
}
**/


.opciones{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 2rem;
}
#opcion1{
    background-color:#969595;
    color: white;
    font-size: 1em;
    width: 170px;
    height: 30px;
    border: none;
    border-radius: 5px;
}
#opcion2{
    background-color:#111111;
    color: white;
    font-size: 1em;
    width: 170px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

 


#wallet{
    margin-top: 20px;
}
#wallet img{
    display: flex;
    width: 880px;
    margin: 10px auto;
    opacity: 0.3;
    transition: 1s;
    border-radius: 8px;
}
#wallet img:hover{
    box-shadow: 0 0 10px 5px #5b64e4;
    width: 900px;
    opacity: 0.9;
}