#formulario-contacto {
  max-width: 800px;
  margin: 0 auto;
  
  }

.cabecera-formulario{
  text-align: center;
  margin-bottom: 20px;
}

.cuerpo-formulario{
  width: 100%;
  column-count: 2;  /*dividimos el formulario en dos columnas */
  column-gap: 20px; /*añadimos un espacio entre las columnas */
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
}

.columna-formulario{
  width: calc(50% - 10px);
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.columna-formulario:last-child {
  margin-right: 0;
}

.columna-formulario:nth-child(n+4) {
  margin-top: 10px;
}

#mensaje{
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
  
#formulario-contacto label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#formulario-contacto select,
#formulario-contacto input,
#formulario-contacto textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

#formulario-contacto select,
#formulario-contacto input {
  margin-bottom: 5px;
}

#formulario-contacto button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}
  
#formulario-contacto button[type="submit"]:hover {
  background-color: #45a049;
}

#mapa{
    display:flex;
  }

@media only screen and (max-width: 768px) {
  #formulario-contacto .columna-formulario {
    width: 100%; /* cambiamos el ancho de las columnas a 100% en pantallas pequeñas */
    margin-right: 0; /* eliminamos el margen derecho para que los campos estén alineados en una sola columna */
  }

} 
  