* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: white;
}

header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(223, 222, 222);
}

.Logo {
    max-width: 5rem;
}

.nav-list {
    display: flex;
    list-style-type: none;
    gap: 1rem;
    align-items: center;
}

.nav-list li a {
    text-decoration: none;
    color: black;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

#carrito {
    height: 30px;
    width: 30px;
    color: #77A1D3;
}

img {
    width: 100%;
    border-radius: 10px;

}


.portada {
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;

}

.TEXTO {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-30%, -30%);
    font-size: 1.5em;
    color: #fff;
    overflow-wrap: break-word;


}


.Botones {

    font-size: 1.5em;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    overflow-wrap: break-word;

}


.Botones .SABER-MÁS {
    position: absolute;
    top: 70%;
    left: 180px;
    background: #77A1D3;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    color: #0c0c0c;
    overflow-wrap: break-word;

}

.Botones .COMPRAR {
    position: absolute;
    left: 40px;
    top: 70%;
    background: #000000;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    color: #ffffff;
    overflow-wrap: break-word;
}

.grid-container {

    display: grid;
    grid-template-columns: repeat(3, minmax(35%, 1fr));
    grid-gap: 10px;
    background: #77A1D3;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

section p {

    text-align: center;
    font-size: 22px;
    padding: 10px;
    color: hwb(0 20% 79%);
}

section {
    text-align: center;
    font-size: 25px;
    color: hwb(0 20% 79%);
    padding: 15px;
}

.grid-texto h1 {

    text-align: center;
    background: black;
    font: 2.8em sans-serif;
    color: #ffffff;
    margin-left: 15%;
    margin-right: 15%;
}

.grid-texto img {
    max-width: 60%;
}

.grid-texto h1 {

    text-align: center;
    background: black;
    font: 2.8em sans-serif;
    color: #ffffff;
    margin-left: 15%;
    margin-right: 15%;
}

.grid-texto img {
    max-width: 70%;
}


/*  parejas */


.container {
    display: flex;
    position: relative;
    margin-left:10%;
    margin-right:10%;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center

}

.container img {
    width: 100%;

}

.item p {
    position: absolute;
    left: 65%;
    top: 40%;
    transform: translate(-60%, -150%);
    font-size: 1.5em;
    overflow-wrap: break-word;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

.complemento p {
    position: absolute;
    top: 85%;
    left: 45%;
    transform: translate(-85%, -45%);
    display: inline-block;
    vertical-align: middle;
    overflow-wrap: break-word;
    text-align: right;
    font-size: 1.5em;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: rgb(253, 253, 253);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    position: absolute;
    left: 30%;
    top: 25%;
}

.boton:hover {
    background-color: #77A1D3;
}


footer {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100%;
    background-color: #d4d4d4;
    color: rgb(51, 51, 51);
    text-align: center;
}

footer h2 {
    font-size: 1em;
}

footer p {
    text-emphasis: center;
    padding: 50px;
}

footer a {
    color: rgb(51, 51, 51);
}

footer div {

    width: 33%;
    margin: 15px;
    padding: 20px;
}

footer div ul {
    list-style-type: none;
}

footer div ul li {
    margin: 10px;
}

footer div input {
    padding: 2px;
    margin-top: 5px;
    font-size: 1.5em;
    width: 200px;
}

footer div button {
    background-color: #df6c00;
    color: white;
    padding: 2px;
    margin-top: 5px;
    font-size: 1.5em;
    width: 200px;
    border: none;
}

.last {
    text-align: center;
}

.color {
    color: rgba(108, 100, 100, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #6C6464;
    font-size: small;
}

/* ajustes de la zona de copyright y grupo de creación por SANTI */
.color div {
    color: #6C6464;
    text-align: justify;
    margin: 10px;
    margin-left: 10%;
}

/*acaba el pie de página*/


@media screen and (max-width:550px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }



    footer {
        display: block;
        padding: 1px;
    }

    footer div {
        width: auto;
    }

    .color {
        text-align: center;
    }
}







@media only screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 0;
    }
    
    section p {
        font-size: 1.2rem;
        padding: 1rem;
    }

    section {
        font-size: 1.5rem;
        padding: 2rem;
    }

    .grid-texto h1 {
        font-size: 2.5rem;
        padding: 1rem;
    }
}

@media only screen and (max-width: 480px) {
    section p {
        font-size: 1rem;
        padding: 0.5rem;
    }

    section {
        font-size: 1.2rem;
        padding: 1.5rem;
    }

    .grid-texto h1 {
        font-size: 2rem;
        padding: 0.5rem;
    }
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        align-items: center;
    }

    .item p, .complemento p {
        position: static;
        text-align: center;
        margin-top: 30px;
    }

    .boton {
        position: static;
        margin-top: 20px;
    }
}