*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: white;
    min-height: 100vh;
}
a{
    text-decoration: none;
}

header{
    position: sticky;
    top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
    background-color: rgb(223, 222, 222);
    box-shadow: 0px 0px 10px 5px #ccccccbb;
}

.Logo{
    max-width: 5rem;
}

.nav-list{
    display: flex;
    list-style-type: none;
    gap: 1.5rem;
    align-items: center;
}

.nav-list li a{
    text-decoration: none;
    color: black;
}

.abrir-menu,
.cerrar-menu{
    display: none;
}
.carrito{
    width: 30px;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.numero{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5b64e4;
    color: white;
    width: 18px;
    border-radius: 50%;
    right: 20px;
    top: 30%;
}


/*empieza el pie de página*/
footer{
	display: inline-flex;
  	flex-wrap: nowrap;
	width: 100%;
	background-color: #d4d4d4;
	color:rgb(51, 51, 51);
	text-align: center;
}
footer h2{
	font-size: 1em;
}
footer p{
	text-emphasis: center;
	padding: 50px;
}
footer a{
	color: rgb(51, 51, 51);
}
footer div{

	width: 33%;
	margin: 15px;
	padding: 20px;
}
footer div ul{
	list-style-type: none;
}
footer div ul li{
	margin: 10px;
}
footer div input{
	padding: 2px;
	margin-top: 5px;
	font-size: 1.5em;
	width: 200px;
}
footer div button{
	background-color:#df6c00;
	color: white;
	padding: 2px;
	margin-top: 5px;
	font-size: 1.5em;
	width: 200px;
	border: none;
}
.last{
	text-align: center;
}

.color{
	color: rgba(108, 100, 100, 1);
	display: flex;
  	flex-wrap: wrap;
	justify-content: space-between;
	border-top: 1px solid #6C6464;
	font-size: small;
}

/* ajustes de la zona de copyright y grupo de creación por SANTI */
.color div{
    color: #6C6464;
    text-align: justify;
    margin: 10px;
    margin-left: 10%;
}
/*acaba el pie de página*/


@media screen and (max-width:550px){
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }

    #wallet img{
        max-width: 350px;
    }

    footer{
        display: block;
        padding: 1px;
    }
    footer div{
        width: auto;
    }
    .color{
        text-align: center;
    }
}