*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(90deg, #77A1D3 0%, #79CBCA 50%, #E684AE 100%);
    min-height: 100vh;
}

.Contenedor{
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;    
}

.wawe{
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    z-index:-1; /*Este codigo permite poner las imagenes al fondo, es decir detras del texto u otras imagenes*/
}

.caja-textos{
    flex-basis: 50%;
    padding-left: 40px;
    overflow: hidden;
    color: black;
    
}

.titulo{
    font-size: 50px;
    line-height: 1.5; /*Este codigo permite dar espaciado entre texto u objetos*/
    
}

.subtitulo{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 3;
}

.cta{
    display: inline-block;
    width: 150px;
    padding: 15px 0 ;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    text-decoration: none;
    color: #77A1D3 ;
}

.boton{
    text-align: center;
}

.Contenedor-imagen{
  flex-basis: 50%;
  position: relative;
  z-index: 1;
  text-align: center;
  overflow: hidden;
}

.img{
    width: 95%;
    animation: ilustrationAnimate ease-in 1s infinite alternate;
}

@keyframes ilustrationAnimate {
    0%{
        transform: sclae(1);
    }100%{
        transform: scale(1.04);
    }
    
}

@media screen and (max-width: 800px) {
    .Contenedor{
        flex-direction: column-reverse;
    }
    .wawe{
        width: 80%;
    }
    .caja-textos{
        display: flex;
        flex-direction: column;
        padding-left: 0;
        justify-content: center;
        align-items: center;
        flex-basis: 40%;
        text-align: center;
    }
    
    .titulo{
        font-size: 40px;
    }

    .subtitulo{
        font-size: 20px;
    }

    .Contenedor-imagen{
        flex-basis: 60%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img{
        height: 90%;
    }

}

@media screen and (max-width: 500px) {
    .wawe{
        width: auto;
        height: 48%;
    }
    .caja-textos{
        flex-basis: 40%;
        justify-content: flex-start;
    }

    .titulo{
        font-size: 35px;
    }
}