*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(90deg, #77A1D3 0%, #79CBCA 50%, #E684AE 100%);
    min-height: 100vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: white;

}

.Logo{
    max-width: 5rem;
}

.nav-list{
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.nav-list li a{
    text-decoration: none;
    color: black;

}

.abrir-menu,
.cerrar-menu{
    display: none;
}
/*Section Main*/
.banner{
    height: 100vh;
    background-image: url(IMAGENES/hombre\ con\ perro.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
   
    

}

.banner-content{
    margin-left: 50%;
    margin-bottom: 50%;
    
}
.banner-content.text-banner h1{
    font-family: Arial, Helvetica, sans-serif;
}
.btn-sabermas{
    background-color: blue;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    font-size: 1em;
    transition: transform 0.2s;
    cursor: pointer;
    
}
@media screen and (max-width:550px){
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
}