body{
  font-family: 'Raleway', sans-serif;
}
.parrafo {
  border: 1px solid #FFFFFF;
  padding: 2px;
  width: 90%;
  height: auto;
  place-items: center;
  font-size: 16px;
  line-height: 3.5;
  text-align: center;
  margin: 70px;
  margin-left: auto;
  margin-right: auto;
  text-justify: auto;
}

.parrafo h1 {
  color: #8490FE;
}

.gridcontainer {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-left: 10px !important;
  margin-right: 10px !important;
  width: 95%;
  height: 100%;
  box-sizing: content-box;



}

.imagen {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  filter: brightness(85%);
  border: -1px solid #FFFFFF;
  padding: 2px;


}

.texto {
  border: 1px solid #FFFFFF;
  line-height: 1.5;
  font-size: 16px;
  text-align: justify;
  margin: 10px;



}

.titulo {
  color: #8490FE;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .gridcontainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;

  }

}

@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

}